<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="ContentTokens" />
  </assemblies>

  <clientModule initializer="ContentTokens.ClientResources.Scripts.Initializer">
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources>
      <add name="epi-cms.widgets.base" />
    </requiredResources>
  </clientModule>

  <clientResources>
    <add name="contenttokens-gadget" path="Scripts/ContentTokensGadget.js" resourceType="Script" />
    <add name="contenttokens-tinymce" path="Scripts/ContentTokensTinyMcePlugin.js" resourceType="Script" />
    <add name="contenttokens-styles" path="Styles/ContentTokens.css" resourceType="Style" />
  </clientResources>

  <dojo>
    <paths>
      <add name="ContentTokens" path="Scripts" />
    </paths>
  </dojo>
</module>
