<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="ContentTokens" />
  </assemblies>

  <clientResources>
    <add name="contenttokens-tinymce" path="Scripts/ContentTokensTinyMcePlugin.js" resourceType="Script" />
    <add name="contenttokens-autocomplete" path="Scripts/ContentTokensAutocomplete.js" resourceType="Script" />
    <add name="contenttokens-styles" path="Styles/ContentTokens.css" resourceType="Style" />
    <add name="contenttokens-autocomplete-styles" path="Styles/ContentTokensAutocomplete.css" resourceType="Style" />
  </clientResources>

  <dojo>
    <paths>
      <add name="ContentTokens" path="Scripts" />
      <add name="contentTokens" path="Scripts" />
    </paths>
  </dojo>
</module>
