<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="">
  <assemblies>
    <add assembly="ContentTokens" />
  </assemblies>

  <clientModule initializer="ContentTokens/Initializer">
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources>
      <add name="epi-cms.widgets.base" />
      <add name="contenttokens-styles" />
      <add name="contenttokens-autocomplete-styles" />
    </requiredResources>
  </clientModule>

  <clientResources>
    <add name="contenttokens-gadget" path="ClientResources/Scripts/ContentTokensGadget.js" resourceType="Script" />
    <add name="contenttokens-tinymce" path="ClientResources/Scripts/ContentTokensTinyMcePlugin.js" resourceType="Script" />
    <add name="contenttokens-autocomplete" path="ClientResources/Scripts/ContentTokensAutocomplete.js" resourceType="Script" />
    <add name="contenttokens-styles" path="ClientResources/Styles/ContentTokens.css" resourceType="Style" />
    <add name="contenttokens-autocomplete-styles" path="ClientResources/Styles/ContentTokensAutocomplete.css" resourceType="Style" />
  </clientResources>

  <dojo>
    <paths>
      <add name="ContentTokens" path="ClientResources/Scripts" />
      <add name="contentTokens" path="ClientResources/Scripts" />
    </paths>
  </dojo>
</module>
